<!DOCTYPE html>
<html>
<head>
	<title>Vue js</title>
	<style>
	
	html, body {
		background: #272822;
	}

	#app {
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 0 30% 0 30%;
	}

	input {
		display: block;
		margin-bottom: 2em;
		margin-top: 5em;
	}

	.result {
		position: relative;
		border: solid 1px grey;
		margin-bottom: 2em;
		width: 100%;
		height: 10rem;
		box-shadow: 5px 5px 5px 1px #10100e;
	}

	textarea {
		display: block;
	}

	.content-editing textarea {
		width: 100%;
		height: 100%;
	}	

	.editor {
		position: relative;
		width: 100%;
		height: 100%;
	}

	.status-editor-icon {
		position: absolute;
		right: 0;
		top: 0;
		width: 10px;
		height: 10px;
		z-index: 2;
	}

	.delete-editor-icon {
		position: absolute;
		right: 3px;
		bottom: 3px;
		width: 10px;
		height: 10px;
		z-index: 2;
	}

	</style>
</head>
<body>

	<div id="app">
		<input type="text" v-model="query">

		<result v-for="(result, index) in results" :post="result" :index="index" :key="result.id" @on-delete="onDeletePost"></result>

		<textarea cols="30" rows="5" v-model="newOne"></textarea>
		<button v-on:click="add">Add</button>
	</div>
	
	<script src="{{ url_for('static', filename='ace/ace.js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

	<script>

	var api = {

		search: function (query) {
			return axios.get('/posts?q='+query);
		},

		add: function (newPost) {
			return axios.post('/posts', newPost);
		},

		update: function (post) {
			return axios.put('/post/'+post.id, post);
		},

		delete: function(post) {
			return axios.delete('/post/'+post.id);
		}

	};

	Vue.component('result', {

		props: ['post', 'index'],

		data: function () {
			return {
				saveTimeout: null,
				delayToSaveContent: 2000, //2 seconds
				editor: Object,
				editorHeight: 0,
				saving: false,
				saved: false,
				error: false
			};
		},

		mounted: function () {

			console.log(this.post.content);

			//get the current instance to avoid using bind()
			var $this = this;

			//create the editor into the element with the id of the post
			this.editor = window.ace.edit("editor-" + this.post.id);

			//initial configuration for the editor
		    this.editor.setTheme("ace/theme/monokai"); //dark theme
		    this.editor.getSession().setMode("ace/mode/javascript"); //use javascript highlight
		    this.editor.getSession().setUseWorker(false); //ignore syntax errors
		    
		    //this makes the editor increse its size instead of making the scroll bars appear
		    this.editor.setOptions({
		    	maxLines: 1000
		    });

		    //https://stackoverflow.com/questions/11584061/automatically-adjust-height-to-contents-in-ace-cloud-9-editor
		    //the height of the editor is the amount of lines times the height of the line
		    //if there is a paste with too long lines, a line might have a height different form the
		    //others because of line wrap. This trashes the calculation. To avoid this 
		    //the wrap is disabled. The downside is the horizontal scroll bar that appears at the bottom
		    //when there are longer lines.
		    this.editor.getSession().setUseWrapMode(false);

		    this.editor.on('change', function (delta) {
		        //update the height of the editor
		        $this.updateEditorHeight();

		        //save the content after some time no change was made
		        var content = $this.editor.getValue();
		        clearTimeout($this.saveTimeout);
				$this.saveTimeout = setTimeout(function () {
					$this.save(content);
				}, $this.delayToSaveContent);
		    });

		    //this is to define the height of the editor
		    //the 100ms delay is arbitrary. Just running the method here
		    //was not working. Tried with timeout and worked.
		    //The delay can be even 10ms that it would work.
		    //I dunno why do we have to wait to run this method.
		    setTimeout(function () {
				$this.updateEditorHeight();		    	
		    }, 10);
		},

		methods: {

			updateEditorHeight: function() {
				var doc = this.editor.getSession().getDocument();
				var lineHeight = this.editor.renderer.lineHeight;
				var amountOfLines = doc.getLength();
				this.editorHeight = lineHeight * amountOfLines;
			},

			save: function (content) {
				var $this = this;
				$this.saving = true;
				$this.saved = false;
				$this.error = false;
				api.update({id: $this.post.id, content: content})
				.then(function (response) {
					$this.saving = false;
					$this.saved = true;
					$this.error = false;
				}).catch(function() {
					$this.saving = false;
					$this.saved = false;
					$this.error = true;
				});
			},

			remove: function () {
				var toDelete = confirm("Delete this snippet?");
				if (toDelete) {
					this.$emit('on-delete', this.post, this.index);
				}
			}

		},

		template: `
		<div class="result" v-bind:style="{ height: editorHeight + 'px' }">
		<img v-if="saving" src="{{ url_for('static', filename='img/loading-white.gif') }}" alt="Loading icon" class="status-editor-icon"/>
		<img v-if="saved" src="{{ url_for('static', filename='img/done-white.png') }}" alt="Done icon" class="status-editor-icon" />
		<img v-if="error" src="{{ url_for('static', filename='img/error-white.png') }}" alt="Error icon" class="status-editor-icon" />
		<img @click="remove" src="{{ url_for('static', filename='img/x-pink.png') }}" alt="Delete icon" class="delete-editor-icon" />
		<div :id="'editor-'+post.id" class="editor">{% raw %}{{ post.content }}{% endraw %}</div>
		</div>
		`

	});

	var app = new Vue({

		el: "#app",

		data: {

			newOne: "",
			results: [],
			query: "",
			queryTimeout: null

		},

		watch: {

			query: function(newQuery) {

				clearTimeout(this.timeout);
				this.timeout = setTimeout(function () {
					this.search(newQuery);
				}.bind(this), 500);

			}

		},

		methods: {

			search: function (query) {
				if (query) {
					var $this = this;
					api.search(query).then(function (response) {
						console.log(response.data);
						$this.results = response.data.results;
					});
				} else {
					this.results = [];
				}
			},

			add: function () {
				if (this.newOne) {
					var $this = this;
					api.add({content: this.newOne}).then(function(response) {
						console.log(response.data);
						$this.results.push(response.data.post);
					});
					this.newOne = "";
				}
			},

			onDeletePost: function (postToDelete, index) {
				var $this = this;
				api.delete(postToDelete).then(function (response) {
					console.log(response.data);
					console.log("deleting index " + index);
					$this.$delete($this.results, index);
				});
			}

		}

	});

	</script>

</body>
</html>